:root{
    --ff-primary:'Montserrat',
        sans-serif;
    --ff-name:'Water Brush',
        cursive;
    --fw-reg:400;
    --fw-semi-bold:500;
    --fw-bold:600;
    --clr-light:#ddd2d2;
    --clr-custom:rgb(255, 179, 155);
    --clr-accent:#16e0bd;
    --clr-lynn:#14303f;
    --clr-dark:#4a4646;

    --fs-h1:3rem;
    --fs-h2: 2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: .25em .25em .75em rgba(0,0,0,.25),
        .125em, .125em, .25em rgba(0,0,0,.15);

}
:focus{
    outline:3px solid var(--clr-accent) ;
    outline-offset: 3px;
}


// buttons
.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--clr-custom);
    color: var(--clr-lynn);
    font-weight: var(--fw-bold);
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;

    &:hover{
        transform: scale(1.1);
    }

}
@media (min-width:800px) {
    :root{
        --fs-h1: 4.5rem;
        // --fs-h2: 3.75rem;
        // --fs-h3: 1.5rem;
        // --fs-body: 1.125rem;
    }
    
}

// ****************Base Styles*********************************
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-transform: uppercase; */
}

a {
    text-decoration: none;
    font-size: 1rem;
    color:var(--clr-custom);
}
// ****************Base Styles*********************************


body {
    background-color:var(--clr-lynn);
    color:var(--clr-custom);
    margin: 0;
    font-family: var(--ff-primary);
    font-size:var(--fs-body);
    min-height: 100vh;
    width: 100%;
    height: 100%;
    font-weight:var(--fw-reg);
    line-height: 1.6;

}
.aboutMe,
.myWork {
    min-height: 300px;
}
h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

section{
 padding: 5em 2em;   
}

.section__title{
    margin-bottom: .25em;
}

.section__subtitle{
    margin:0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    color:black;
    margin-bottom:1em ;
    
}
.section__title--intro span{
    display: block;
}
